@import "normalize.less";
@import "preboot.less";
@import "highlighting.less";

html {
	background-color: @body-background;

	&.front {
		background-color: #303030;
	}
}

body {
	color: @text-color;
	font-size: @size-base;
	font-family: @font-family-base;
	line-height: @line-height-base;
	margin-top: @banner-height;

	@media (max-width: 680px) {
		margin-top: @banner-height-small;
	}

	&.front {
		margin-top: 0;
	}
}

a {
	color: @link-color;

	&:hover {
		color: @link-color-hover;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: @headings-font-family;
	font-weight: @headings-font-weight;
	text-rendering: optimizeLegibility;
	line-height: 1.2;

	a {
		text-decoration: none;
	}
}

h1 { font-size: @size-huge; }
h2 { font-size: @size-larger; }
h3 { font-size: @size-large; }
h4 { font-size: @size-medium; color: lighten(@text-color, 10%); }
h5 { font-size: @size-base; }
h6 { font-size: @size-small; }

code, kbd, pre, samp {
	font-family: @font-family-monospace;
}

header {
	font-family: @font-family-sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: @banner-height;
	padding: 0 2*@size-huge;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	@media (max-width: @body-width) {
		padding: 0 @size-larger;
	}

	@media (max-width: 680px) {
		text-align: center;
		padding: 0;
		height: @banner-height-small;
	}

	a {
		text-decoration: none;
		color: @brand-primary;

		&:hover {
			color: lighten(@brand-primary, 25%);
		}
	}

	h1 {
		margin: 0;
		padding: 0;
		color: @brand-primary;
		font-family: @font-family-sans-serif;
		font-size: @size-huge;
		line-height: @banner-height;
		text-rendering: optimizeLegibility;

		@media (max-width: 680px) {
			line-height: 1;
			margin-bottom: @size-base;
			margin-top: @size-huge;
		}
	}

	nav {
		top: @size-mini;
		right: 2*@size-huge;
		position: absolute;
		line-height: @banner-height;
		font-size: @size-medium;
		text-transform: uppercase;
		text-rendering: optimizeLegibility;

		@media (max-width: @body-width) {
			right: @size-larger;
		}

		@media (max-width: 680px) {
			position: static;
			line-height: 1;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				padding: 0;
				margin: 0 0.2rem;
				display: inline;

				a:hover {
					border-bottom: 3px solid lighten(@brand-primary, 25%);
				}
			}
		}
	}
}

#banner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: @banner-height;
	background-color: @text-color;
	z-index: -1;
	overflow: hidden;

	@media (max-width: 680px) {
		height: @banner-height-small;
	}
}

body.front {
	#banner, header {
		bottom: 0;
	}
}

article {
	font-size: @size-medium;
	position: relative;
	top: @size-huge;
	max-width: @body-width;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
	.center-block;
	.hyphens;

	@media (max-width: @article-width) {
		overflow-x: hidden;
	}

	h1:first-child {
		text-align: center;
		.hyphens(none);
		margin-top: 0;
		margin-bottom: @size-huge;

		+ .figure {
			margin-top: 0;
		}
	}

	h2, h3, h4, h5, h6, p, ul, ol, hr, > table {
		max-width: @article-width;
		margin: 0 auto;
		margin-bottom: @size-medium;

		@media(max-width: @body-width) {
			padding: 0 1rem;
		}
	}

	br {
		display: none;
	}

	hr {
		border: 0;
		height: 3px;
		background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
	}

	ul, ol {
		padding: 0;

		@media (max-width: @body-width) {
			padding-left: 40px;
		}

		@media (max-width: @article-width) {
			list-style-position: inside;
			padding-left: 1em;
		}
	}

	pre {
		max-width: @article-width;
		margin: 0 auto;
		margin-bottom: @size-medium;
		padding: @size-mini;
		font-size: @size-medsmall;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		overflow-x: auto;
		word-wrap: normal;
		.box-sizing(border-box);
	}

	.figure {
		text-align: center;
		margin: @size-huge 0;

		img {
			width: 100%;
			height: auto;
			max-width: @body-width;
		}

		.caption {
			font-size: @size-base;
		}
	}

	iframe {
		margin: @size-huge 0;
		margin-left: 0.5 * (@body-width - @article-width);
		max-width: @article-width;

		@media (max-width: @article-width) {
			margin-left: 0;
		}
	}
}
