@import "preboot.less";
@import "highlighting.less";

html, body {
  margin: 0;
  padding: 0;
}

html {
  background-color: @body-background;
  .optimize-legibility;
  .hyphens;
}

body {
  color: @text-color;
  font-size: @size-medium;
  font-family: @font-family-base;
  line-height: @line-height-base;
  margin-top: @banner-height;

  @media (max-width: 800px) {
    margin-top: @banner-height-small;
  }

  &.front {
    margin-top: 0;
  }
}

a {
  color: @link-color;
  text-decoration: none;

  &:hover {
    color: @link-color-hover;
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: @headings-font-family;
}

code, kbd, pre, samp {
  font-family: @font-family-monospace;
}

header {
  font-family: @font-family-sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: @banner-height;
  padding: 0 2*@size-giant;

  @media (max-width: 800px) {
    text-align: center;
    padding: 0;
    height: @banner-height-small;
  }

  a {
    text-decoration: none;
    color: @brand-secondary;
  }

  h1 {
    margin: 0;
    padding: 0;
    color: @brand-primary;
    font-family: @font-family-sans-serif;
    font-size: @size-giant;
    font-weight: 900;
    line-height: @banner-height;

    @media (max-width: 800px) {
      line-height: 1;
      margin-bottom: @size-base;
      margin-top: @size-giant;
    }

    @media (max-width: 320px) {
      font-size: @size-huge;
    }
  }

  nav {
    top: @size-mini;
    right: 2*@size-giant;
    position: absolute;
    line-height: @banner-height;
    font-size: @size-medium;
    font-weight: 900;
    text-transform: uppercase;

    @media (max-width: 800px) {
      position: static;
      line-height: 1;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }

    @media (max-width: 420px) {
      font-size: @size-base;
    }

    @media (max-width: 320px) {
      font-size: @size-medsmall;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 0;
        margin: 0 0.2rem;
        display: inline;
      }
    }
  }
}

#banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: @banner-height;
  background-color: #37474F;
  z-index: -1;
  overflow: hidden;

  @media (max-width: 800px) {
    height: @banner-height-small;
  }
}

body.front {
  #banner, header {
    bottom: 0;
  }
}

article {
  overflow: hidden;
  max-width: @article-width;
  .center-block;

  h1:first-child {
    font-size: @size-huge;
    text-align: center;
    line-height: 1.2;
  }

  hr {
    border: 0;
    border-top: 1px solid #515b5e;
  }

  pre {
    font-size: @size-base;
    padding: @size-mini;
    overflow-x: auto;
    word-wrap: normal;
  }

  figure img {
    width: 100%;
  }
}
