$darkColor: #1e1e1e;
$accentColor: #6d6a67;
$lineColor: #dddcd6;
$menuColor: #0a1c6d;
$headerColor: #edeadc;
$smallWidth: 272px;
$mediumWidth: 464px;
$largeWidth: 696px;
$sidebarWidth: 192px;
$scrollbarWidth: 6px;

html {
  height: 100%;
}

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  height: 100%;
  width: auto;
  position: relative;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  background: #f8f8f8 url('/img/noise.png') top left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-rendering: optimizeLegibility;
  margin-top: 0px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.2em;
  text-transform: uppercase;
}

hr {
  height: 1px;
  background-color: $lineColor;
  border: none;
  margin: 24px 0;
  padding: 0;
  clear: both;

  &.short {
    width: 24px;
  }
}

pre, code {
  font-family: Consolas, Inconsolata, monospace;
  font-size: inherit;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

code {
  padding: 0;
  color: inherit;
  background: none;
  border: none;
}

pre {
  font-size: 12px;
  padding: 0.8em;
  background: #fbfbfb url('/img/noise.png') top left;
  color: #586e75;
  line-height: 1.45em;
  border: 1px solid #d8d8d8;
  -webkit-box-shadow: rgba(0,0,0,0.06) 0 0 10px;
  -moz-box-shadow: rgba(0,0,0,0.06) 0 0 10px;
  box-shadow: rgba(0,0,0,0.06) 0 0 10px;
  word-break: break-word;

  ::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
    height: $scrollbarWidth;
    background: rgba(0,0,0,0.05);
  }
}

.kw{color:#cb4b16}
.ot{color:#268bd2}
.fu{color:#268bd2}
.dt{color:#859900}
.st{color:#2aa198}
.co{color: #93a1a1; font-style: italic;}

.centered {
  text-align: center;
}

.column {
  float: left;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  p, img, .video {
    margin-bottom: 16px;
  }

  .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  strong a {
    font-weight: bold;
    font-size: 18px;
    text-transform: small-caps;
  }

  ::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
    width: $scrollbarWidth;
    background: rgba(0,0,0,0.05);
  }
}

.column-small {
  width: $smallWidth;

  h1 {
    background: url('/img/blue_header_flag.png');
    color: $headerColor;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    width: 192px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 32px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.column-medium {
  width: $mediumWidth;
}

.column-large {
  width: $largeWidth;

  p {
    margin-bottom: 10px;
  }

  .column-padding {
    * {
      margin-top: 0;
      margin-bottom: 0;
    }

    > * {
      margin-bottom: 16px;
      display: block;
    }
  }
  img, .video {
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
    -moz-box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
    box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: #fff 0.5em solid;
  }

  .figure {
      text-align: center;
      margin-bottom: 16px;
  }

  blockquote {
      border-left: 5px solid #dadada;

      p {
        font-size: inherit;
        line-height: inherit;
    }
  }

  .caption {
    display: none;
  }

}

.column-padding {
  padding: 40px;
  margin-left: -$scrollbarWidth;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#meny {
  background-color: $menuColor;
  padding: 20px;
  width: $sidebarWidth;
  height: 100%;
  position: fixed;
  z-index: 5000;
  left: 0;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  h1 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;

    a {
      color: $headerColor;
    }
  }
  a {
    &:hover {
      color: $headerColor;
      text-decoration: none;
    }
    &#email {
      position: absolute;
      bottom: 40px;

      i {
        position: relative;
        top: 1px;
      }
    }
  }
  nav {
    ul {
      list-style-type: none;
      margin-left: 0;
    }

  }
}

#content {
  height: 100%;
  margin-left: $sidebarWidth;
  overflow-y: hidden;
  width: $mediumWidth + $largeWidth + 4 * $smallWidth;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.archives {
  #content {
    width: $mediumWidth + 6 * $smallWidth;
  }

  #recentposts {
    display: none;
  }
}

.archives {
  article {
    margin-bottom: 16px;

    time {
      display: block;
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 0.1em;
      color: $accentColor;
      text-transform: uppercase;
      text-align: center;
      height: 18px;
      line-height: 18px;
      width: 100%;
      position: relative;
      margin-bottom: 16px;

      span {
        display: block;
        position: absolute;
        width: 40px;
        height: 1px;
        background: $lineColor;

        &.line-left {
          left: 0;
          top: 9px;
        }

        &.line-right {
          right: 0;
          top: 9px;
        }
      }
    }

    h2 {
      font-size: 17px;
      font-weight: normal;
      line-height: 21px;
      margin: 0 0 8px 0;
    }
  }
}

.tweet {
  p {
    margin: 0;
  }

  time {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.06em;
    color: #a5a39a;
  }
}

#googleplus {

  * {
    margin: 0;
  }

  > * {
    margin: 0 0 20px;
    display: block;
  }

  hr:last-child {
    margin-bottom: 24px;
  }

  .block-image-left {
    float: left;
    margin-right: 20px;
  }
}

#lastfm {
  img {
    margin: 0;
  }
}
