<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>$title$ - Zach Denton</title>
		<meta name="description" content="$excerpt$">
		<meta name="author" content="Zach Denton">
		<link rel="alternate" type="application/+xml" title="Zach Denton" href="/atom.xml">
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">
		<link href="/css/screen.css" rel="stylesheet" type="text/css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
		<script src="/js/main.js"></script>
	</head>
	<body class="$bodyclass$">
		<div id="meny">
			<h1><a href="/">Zach Denton</a></h1>
			<nav>
			<ul>
				<li><a href="/about/">About</a></li>
				<li><a href="/archives/">Archives</a></li>
				<li><a href="http://labs.zacharydenton.com/">Experiments</a></li>
				<li><a href="/project-euler-solutions/">Project Euler</a></li>
				<li><a href="/resume.pdf">Resume</a></li>
				<li><a href="http://feeds.feedburner.com/zacharydenton">RSS</a></li>
			</ul>
			</nav>
			<a id="email" href="mailto: z@chdenton.com"><i class="icon-envelope-alt"></i> z@chdenton.com</a>
		</div>
		<div id="content">
			$body$
			<div class="column column-small archives" id="recentposts">
				<div class="column-padding">
					<h1>Blog</h1>
					$recentposts$
					<hr class="short">
					<p class="centered"><strong><a href="/archives/">View All Posts</a></strong></p>
				</div>
			</div>
			<div class="column column-small">
				<div class="column-padding">
					<h1>Twitter</h1>
					<div id="tweets"></div>
					<p class="centered"><strong><a href="//twitter.com/zacharydenton">Twitter Stream</a></strong></p>
				</div>
			</div>
			<div class="column column-medium">
				<div class="column-padding">
					<div id="googleplus"></div>
					<p class="centered"><strong><a href="https://plus.google.com/103362376417669694940?rel=author">Google+ Profile</a></strong></p>
				</div>
			</div>
			<div class="column column-small">
				<div class="column-padding">
					<h1>GitHub</h1>
					<div id="github-feed"></div>
					<p class="centered"><strong><a href="//github.com/zacharydenton">GitHub Profile</a></strong></p>
				</div>
			</div>
			<div class="column column-small">
				<div class="column-padding">
					<h1>Music</h1>
					<div id="lastfm"></div>
					<p class="centered"><strong><a href="//last.fm/user/zacharydenton">Last.fm Stream</a></strong></p>
				</div>
			</div>
		</div>
	</body>
</html>
