<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>$title$ - Zach Denton</title>
		<meta name="author" content="Zach Denton">
		<meta name="description" content="$excerpt$">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href='http://fonts.googleapis.com/css?family=Cabin:400,600|Poly:400,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/main.css">
		$if(math)$
		<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
  			tex2jax: {inlineMath: [['$$','$$'], ['\\(','\\)']]}
  		});
		</script>
		<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
		$endif$
	</head>
	<body>
		<header role="banner">
			<h1><a href="/">Zach Denton</a></h1>
			<nav>
			<ul>
				<li><a href="/about/">About</a></li>
				<li><a href="/archives/">Blog</a></li>
				<li><a href="/project-euler-solutions/">Euler</a></li>
				<li><a href="https://github.com/zacharydenton">GitHub</a></li>
				<li><a href="/resume.pdf">Resume</a></li>
			</ul>
			</nav>
			<a href="mailto:z@chdenton.com"><canvas></canvas></a>
		</header>

		$body$

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>
